@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #ff7979;
}

.cwrapper {
  position: relative;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cwrapper .card {
  position: relative;
  border-radius: 3px;
  width: calc(33% - 12px);
  height: 400px;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: -300px;
  background-color: #fff;
}

.cwrapper .card img {
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.wrapper .card .content {
  position: absolute;
  width: 100%;
  bottom: -50%;
  padding: 10px 20px 22px 20px;
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.wrapper .card:hover .content {
  bottom: 0;
}

.card .content .row,
.content .buttons {
  display: flex;
  justify-content: space-between;
}

.content .row .details span {
  font-size: 22px;
  font-weight: 500;
}

.content .row .details p {
  color: #333;
  font-size: 17px;
  font-weight: 400;
}

.content .row .price {
  color: #ff7979;
  font-size: 25px;
  font-weight: 600;
}

.content .buttons {
  margin-top: 30px;
}

.content .buttons button {
  width: 50%;
  padding: 13px 0;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #ff7979;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin-left: 3%;
}

.buttons button:first-child {
  color: #ff7979;
  margin-right: 10px;
  background: #fff;
}

button:first-child:hover {
  color: #fff;
  background: #ff7979;
}

.buttons button:last-child {
  color: #fff;
  margin-left: 10px;
  background: #ff7979;
}

button:last-child:hover {
  background: #ff7979;
  border-color: #ff7979;
}

