.tinaheader
{
    position: absolute;
    font-size: 30px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 1%;
    left: 4%;
    color: black;

}
.tinaButton{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    top: 1%;
    right: 13%;
    position: absolute;
}
.tinaTitle{
    position: absolute;
    font-style: italic;
    font-size: 20px;
    top: 20%;
    left: 4%;
}
#tinaimg1{
    position: absolute;
    top: 33%;
    left:4%;
    width: 17%;
    height: 20%;
}
#tinaimg2{
    position: absolute;
    top: 33%;
    left:23%;
    width: 17%;
    height: 20%;
}
#tinaimg3{
    position: absolute;
    top: 33%;
    left:42%;
    width: 17%;
    height: 20%;
}
#tinaimg4{
    position: absolute;
    top: 33%;
    left:61%;
    width: 17%;
    height: 20%;
}

#tinaimg5{
    position: absolute;
    top: 33%;
    left:80%;
    width: 17%;
    height: 20%;
}
#tinaimg6{
    position: absolute;
    top: 68%;
    left:22%;
}
#tinaimg7{
    position: absolute;
    top: 68%;
    left:55%;
}
#tinaimg8{
    position: absolute;
    top: 120%;
    left:55%;
}
#tinaimg9{
    position: absolute;
    top: 120%;
    left:22%;
}
.tinaWish1{
    position: absolute;
    top: 67%;
    left: 40%;
}
.tinaWish2{
    position: absolute;
    top: 67%;
    left: 73%;
}
.tinaWish3{
    position: absolute;
    top: 119%;
    left: 73%;
}
.tinaWish4{
    position: absolute;
    top: 119%;
    left: 40%;
}
.tinaBell{
    position: absolute;
    top:3.6%;
    right: 7%;
}
.tinaDetail1{
    position: absolute;
    top: 95%;
    left: 26.5%;
}
.tinaDetail2{
    position: absolute;
    top: 98%;
    left: 26%;
}
.tinaDetail3{
    position: absolute;
    top: 95%;
    left: 61%;
}
.tinaDetail4{
    position: absolute;
    top: 98%;
    left: 60%;
}
.tinaDetail5{
    position: absolute;
    top: 148%;
    left: 61%;
}
.tinaDetail6{
    position: absolute;
    top: 151%;
    left: 59%;
}
.tinaDetail7{
    position: absolute;
    top: 148%;
    left: 27%;
}
.tinaDetail8{
    position: absolute;
    top: 151%;
    left: 26%;
}
#tinaSearch{
    top: 35%;
    left: 25%;
    position: absolute;
    width: 25%;
}
.tinaclose-button{
    position: absolute;
    top: 4.5%;
    right: 3%;
    font-size: 100%;
    background-color: rgb(185, 223, 238);
    border-color: aliceblue;
}
