.samHeader {
    position: absolute;
    top: 1%;
    left: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: italic;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.samButton
{
    position: absolute;
    top: 1%;
    right: 13%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    cursor: pointer;
}
.samTitle{
    position: absolute;
    font-style: italic;
    font-size: 25px;
    top: 18%;
    left: 1;
}
#sam1
{
    position: absolute;
    top:33%;
    Left:4%;
    width: 17%;
    height: 20%;
}
#sam2
{
    position: absolute;
    top:33%;
    Left:23%;
    width: 17%;
    height: 20%;
}
#sam3
{
    position: absolute;
    top:33%;
    Left:42%;
    width:17% ;
    height:20%;
}
#sam4
{
    position: absolute;
    top:33%;
    Left:61%;
    width:17% ;
    height:20%;
}
#sam5
{
    position: absolute;
    top:33%;
    Left:80%;
    width:17% ;
    height:20%;
}
.sam6
{
    position: absolute;
    top:80%;
    bottom: auto;
    Left:20%;
    
}
.sam7
{
    position: absolute;
    top:80%;
    bottom: auto;
    Left:55%;
    
}
.sam8
{
    position: absolute;
    top:120%;
    bottom: auto;
    Left:55%;
    
}
.sam9
{
    position: absolute;
    top:120%;
    bottom: auto;
    Left:20%;
    
}
#samWish1{
    position: absolute;
    top:68%;
    left: 36.3%;
}
#samWish2{
    position: absolute;
    top:68%;
    left: 71.3%;
}
#samWish3{
    position: absolute;
    top:120%;
    left: 71.3%;
}
#samWish4{
    position: absolute;
    top:120%;
    left: 36.3%;
}
.samBell{
    position: absolute;
    top:3.6%;
    right: 7%;

}
#samDetail1{
    position: absolute;
    top: 95%;
    left: 26.5%;
}
#samDetail2{
    position: absolute;
    top: 98%;
    left: 24.5%;
}
#samDetail3{
    position: absolute;
    top: 95%;
    left: 61%;
}
#samDetail4{
    position: absolute;
    top: 98%;
    left: 58%;
}
#samDetail5{
    position: absolute;
    top: 147%;
    left: 61%;
}
#samDetail6{
    position: absolute;
    top: 150%;
    left: 58%;
}
#samDetail7{
    position: absolute;
    top: 147%;
    left: 27%;
}
#samDetail8{
    position: absolute;
    top: 150%;
    left: 24%;
}
#samSearch{
    position: absolute;
    top: 15%;
    left: 4%;
    width: 25%;
}
.samclose-button{
    position: absolute;
    top: 4.5%;
    right: 3%;
    font-size: 100%;
    background-color: rgb(185, 223, 238);
    border-color: aliceblue;
    cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #d6c9dc;
  color: #fff;
}

.html{
  display: grid;
  height: 100%;
 
  
 
}
.vjcontainer{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 20%;
  margin-top: 10%;
}
.vjcontainer .vjbox{
  width: calc(33% - 10px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
}

.vjbox .quote i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb
}

.vjcontainer .vjbox .vjimage{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #dccee2;
  padding: 3px;
  border-radius: 50%;
}

.vjbox .vjimage img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.vjbox p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}

.vjbox .vjname_job{
  margin: 10px 0 3px 0;
  color: #8e44ad;
  font-size: 18px;
  font-weight: 600;
}
.vjrating i{
  font-size: 18px;
  color: #8e44ad;
  margin-bottom: 5px;
}
.vjbtns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.vjbtns button{
  background: #8e44ad;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #8e44ad;
  transition: all 0.3s linear;
}

.vjbtns button:first-child{
  background: none;
  margin-right: 5px;
}
.vjbtns button:last-child{
  color: #fff;
  margin-left: 5px;
}
.vjbtns button:first-child:hover{
  background: #8e44ad;
  color: #fff;
}
.vjbtns button:hover{
  color: #fff;
}
@media (max-width:1045px){
  .vjcontainer .vjbox{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .vjcontainer .vjbox{
    width: 100%;
  }
}








.buyfooter
{
  margin-bottom:0;
}
.viewbutt {
  background: #8e44ad;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.3s linear;
}

.viewbutt:hover {
  background: #fff;
  color: #8e44ad;
}
.viewcontact
{ background: #8e44ad;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.3s linear;

}
.viewcontact:hover {
  background: #fff;
  color: #8e44ad;
}
